In [99]:
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [100]:
df=pd.read_csv("C:\\Users\\varun\\Downloads\\aircompressor.csv")
df.head()

,Vibrations per Minute,noise_db,wpump_outlet_pressure,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp,bearings,wpump,radiator
0,499,40.840517,2.960632,47.259238,216.610506,300.372921,45.806178,0,0,0
1,513,40.484226,2.536711,55.025653,215.397526,301.391605,45.825384,0,0,0
2,495,40.918572,2.112789,50.505622,214.160711,300.973376,45.844730,0,0,0
3,480,40.450953,2.087534,58.706376,215.816837,300.355630,45.817046,0,0,0
4,498,41.233739,2.338877,54.046362,214.685590,300.440568,45.817640,0,0,0

##### **Last 3 binary attributes depicts the malfuntioning in each component**

In [101]:
df['Vibrations per Minute'].max()

2520

### **Data Preprocessing**

In [102]:
scaler = MinMaxScaler(feature_range=(0, 10))
df['Vibrations per Minute'] = scaler.fit_transform(df[['Vibrations per Minute']])
df['Vibrations per Minute'] =df['Vibrations per Minute'].astype(int)
df

,Vibrations per Minute,noise_db,wpump_outlet_pressure,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp,bearings,wpump,radiator
0,0,40.840517,2.960632,47.259238,216.610506,300.372921,45.806178,0,0,0
1,0,40.484226,2.536711,55.025653,215.397526,301.391605,45.825384,0,0,0
2,0,40.918572,2.112789,50.505622,214.160711,300.973376,45.844730,0,0,0
3,0,40.450953,2.087534,58.706376,215.816837,300.355630,45.817046,0,0,0
4,0,41.233739,2.338877,54.046362,214.685590,300.440568,45.817640,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,9,66.714857,3.667832,123.061075,225.673251,300.612267,46.568210,0,0,0
996,9,64.476072,3.057030,123.486345,224.762040,300.704363,46.517458,0,0,0
997,9,60.419933,3.567040,128.279705,224.044064,300.423755,46.503602,0,0,0
998,9,62.068962,2.692823,131.776696,228.533520,299.750916,46.533771,0,0,0
999,9,61.903520,3.013953,132.974793,229.033977,300.897597,46.526116,0,0,0

In [103]:
df['Vibrations per Minute'].value_counts()

Vibrations per Minute
0     200
2     200
7     200
9     198
5     102
4      98
10      2
Name: count, dtype: int64

In [104]:
float_columns = ['noise_db', 'wpump_outlet_pressure', 'water_outlet_temp', 
                 'wpump_power', 'oilpump_power', 'oil_tank_temp']

# Apply rounding to specific columns
df[float_columns] = df[float_columns].apply(lambda x: x.round(2))
df

,Vibrations per Minute,noise_db,wpump_outlet_pressure,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp,bearings,wpump,radiator
0,0,40.84,2.96,47.26,216.61,300.37,45.81,0,0,0
1,0,40.48,2.54,55.03,215.40,301.39,45.83,0,0,0
2,0,40.92,2.11,50.51,214.16,300.97,45.84,0,0,0
3,0,40.45,2.09,58.71,215.82,300.36,45.82,0,0,0
4,0,41.23,2.34,54.05,214.69,300.44,45.82,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,9,66.71,3.67,123.06,225.67,300.61,46.57,0,0,0
996,9,64.48,3.06,123.49,224.76,300.70,46.52,0,0,0
997,9,60.42,3.57,128.28,224.04,300.42,46.50,0,0,0
998,9,62.07,2.69,131.78,228.53,299.75,46.53,0,0,0
999,9,61.90,3.01,132.97,229.03,300.90,46.53,0,0,0

### **Feature Declaration**

In [105]:
x=df.iloc[:,0:7] #Sensor input attributes are used as dependent variables
x

,Vibrations per Minute,noise_db,wpump_outlet_pressure,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp
0,0,40.84,2.96,47.26,216.61,300.37,45.81
1,0,40.48,2.54,55.03,215.40,301.39,45.83
2,0,40.92,2.11,50.51,214.16,300.97,45.84
3,0,40.45,2.09,58.71,215.82,300.36,45.82
4,0,41.23,2.34,54.05,214.69,300.44,45.82
...,...,...,...,...,...,...,...
995,9,66.71,3.67,123.06,225.67,300.61,46.57
996,9,64.48,3.06,123.49,224.76,300.70,46.52
997,9,60.42,3.57,128.28,224.04,300.42,46.50
998,9,62.07,2.69,131.78,228.53,299.75,46.53
999,9,61.90,3.01,132.97,229.03,300.90,46.53

### **Model Training and Evaluation**

In [106]:
x=x.drop('wpump_outlet_pressure',axis=1)
x

,Vibrations per Minute,noise_db,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp
0,0,40.84,47.26,216.61,300.37,45.81
1,0,40.48,55.03,215.40,301.39,45.83
2,0,40.92,50.51,214.16,300.97,45.84
3,0,40.45,58.71,215.82,300.36,45.82
4,0,41.23,54.05,214.69,300.44,45.82
...,...,...,...,...,...,...
995,9,66.71,123.06,225.67,300.61,46.57
996,9,64.48,123.49,224.76,300.70,46.52
997,9,60.42,128.28,224.04,300.42,46.50
998,9,62.07,131.78,228.53,299.75,46.53
999,9,61.90,132.97,229.03,300.90,46.53

In [107]:
# Define weights for each component 
weights = {'bearings': 0.2, 'wpump': 0.3, 'radiator': 0.7}

df['maintenance_score'] = (df['bearings'] * weights['bearings'] +
                           df['wpump'] * weights['wpump'] +
                           df['radiator'] * weights['radiator'])


df['maintenance_required'] = df['maintenance_score'] > 0.2
df['maintenance_required'] = df['maintenance_required'].astype(int)
df

,Vibrations per Minute,noise_db,wpump_outlet_pressure,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp,bearings,wpump,radiator,maintenance_score,maintenance_required
0,0,40.84,2.96,47.26,216.61,300.37,45.81,0,0,0,0.0,0
1,0,40.48,2.54,55.03,215.40,301.39,45.83,0,0,0,0.0,0
2,0,40.92,2.11,50.51,214.16,300.97,45.84,0,0,0,0.0,0
3,0,40.45,2.09,58.71,215.82,300.36,45.82,0,0,0,0.0,0
4,0,41.23,2.34,54.05,214.69,300.44,45.82,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,9,66.71,3.67,123.06,225.67,300.61,46.57,0,0,0,0.0,0
996,9,64.48,3.06,123.49,224.76,300.70,46.52,0,0,0,0.0,0
997,9,60.42,3.57,128.28,224.04,300.42,46.50,0,0,0,0.0,0
998,9,62.07,2.69,131.78,228.53,299.75,46.53,0,0,0,0.0,0
999,9,61.90,3.01,132.97,229.03,300.90,46.53,0,0,0,0.0,0

In [108]:
df['maintenance_score'].value_counts()

maintenance_score
0.0    400
0.2    200
0.3    200
0.7    200
Name: count, dtype: int64

In [109]:
y=df['maintenance_required'] #binary columns indicating malfunction in each component
y.value_counts()

maintenance_required
0    600
1    400
Name: count, dtype: int64

In [110]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
print(x_train.shape,x_test.shape)
y_train.shape,y_test.shape

(700, 6) (300, 6)

((700,), (300,))

### 1. XGBoost

In [111]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=4, random_state=42, use_label_encoder=False, eval_metric='mlogloss')
xgb_model.fit(x_train, y_train)
y_pred = xgb_model.predict(x_test)

print("XGBoost Classification Report:\n", classification_report(y_test, y_pred))
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred))

XGBoost Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.82      0.85       188
           1       0.73      0.81      0.77       112

    accuracy                           0.82       300
   macro avg       0.80      0.82      0.81       300
weighted avg       0.82      0.82      0.82       300

XGBoost Accuracy: 0.8166666666666667

### 2. RandomForest Classifier

In [112]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(x_train, y_train)

y_pred = rf_model.predict(x_test)

print("Random Forest Classification Report:\n", classification_report(y_test, y_pred))
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred))

Random Forest Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.84      0.86       188
           1       0.75      0.80      0.78       112

    accuracy                           0.83       300
   macro avg       0.81      0.82      0.82       300
weighted avg       0.83      0.83      0.83       300

Random Forest Accuracy: 0.8266666666666667

### 3. Decision Tree Classifier

In [113]:
from sklearn.tree import DecisionTreeClassifier
dec= DecisionTreeClassifier()
dec.fit(x_train,y_train)
y_pred=dec.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Decision Tree Accuracy: {accuracy:.2f}")
print("Decision Tree Classification Report:\n", classification_report(y_test, y_pred))

Decision Tree Accuracy: 0.79
Decision Tree Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.80      0.83       188
           1       0.70      0.76      0.73       112

    accuracy                           0.79       300
   macro avg       0.77      0.78      0.78       300
weighted avg       0.79      0.79      0.79       300

### 4. Logistic Regression

In [114]:
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
log.fit(x_train,y_train)
y_pred=log.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Logistic Regression Accuracy: {accuracy:.2f}")
print("DLogistic Regression Classification Report:\n", classification_report(y_test, y_pred))

Logistic Regression Accuracy: 0.82
DLogistic Regression Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.85      0.85       188
           1       0.75      0.78      0.76       112

    accuracy                           0.82       300
   macro avg       0.81      0.81      0.81       300
weighted avg       0.82      0.82      0.82       300

In [115]:
tes=pd.read_csv("C:\\Users\\varun\\Downloads\\final_data.csv")
tes

,timestamp,current,power,sound_level,temperature,vibrations
0,2024-11-17 14:59:48,1.618969,323,42,32.95972,0
1,2024-11-17 16:18:57,1.458864,291,42,32.99194,0
2,2024-11-17 14:12:36,1.298759,259,40,32.99194,4
3,2024-11-17 17:38:05,1.520443,304,42,32.99194,0
4,2024-11-17 17:47:13,1.465022,293,42,32.99194,0
...,...,...,...,...,...,...
540,2024-11-17 17:36:34,1.609733,321,42,32.99194,0
541,2024-11-17 17:52:48,1.332628,266,42,32.99194,0
542,2024-11-17 17:26:25,1.381891,276,42,32.91138,0
543,2024-11-17 16:39:14,1.637443,327,41,32.99194,0
544,2024-11-17 18:23:15,1.130957,226,42,32.87109,0

In [116]:
tim=tes['timestamp']
tes=tes.drop('timestamp',axis=1)
tes=tes.drop('current',axis=1)

In [117]:
import random
tes.rename(columns={'sound_level': 'noise_db',}, inplace=True)
tes.rename(columns={'temperature': 'water_outlet_temp',}, inplace=True)
tes.rename(columns={'power': 'wpump_power',}, inplace=True)
tes.rename(columns={'vibrations': 'Vibrations per Minute',}, inplace=True)
tes['oilpump_power']=tes['wpump_power']-random.randint(65,100)
tes['oil_tank_temp']=tes['water_outlet_temp']+random.randint(3,6)
tes

,wpump_power,noise_db,water_outlet_temp,Vibrations per Minute,oilpump_power,oil_tank_temp
0,323,42,32.95972,0,254,38.95972
1,291,42,32.99194,0,222,38.99194
2,259,40,32.99194,4,190,38.99194
3,304,42,32.99194,0,235,38.99194
4,293,42,32.99194,0,224,38.99194
...,...,...,...,...,...,...
540,321,42,32.99194,0,252,38.99194
541,266,42,32.99194,0,197,38.99194
542,276,42,32.91138,0,207,38.91138
543,327,41,32.99194,0,258,38.99194
544,226,42,32.87109,0,157,38.87109

In [118]:
desired_order = ['Vibrations per Minute', 'noise_db', 'water_outlet_temp', 
                 'wpump_power', 'oilpump_power', 'oil_tank_temp']

tes = tes[desired_order]
tes

,Vibrations per Minute,noise_db,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp
0,0,42,32.95972,323,254,38.95972
1,0,42,32.99194,291,222,38.99194
2,4,40,32.99194,259,190,38.99194
3,0,42,32.99194,304,235,38.99194
4,0,42,32.99194,293,224,38.99194
...,...,...,...,...,...,...
540,0,42,32.99194,321,252,38.99194
541,0,42,32.99194,266,197,38.99194
542,0,42,32.91138,276,207,38.91138
543,0,41,32.99194,327,258,38.99194
544,0,42,32.87109,226,157,38.87109

In [119]:
x

,Vibrations per Minute,noise_db,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp
0,0,40.84,47.26,216.61,300.37,45.81
1,0,40.48,55.03,215.40,301.39,45.83
2,0,40.92,50.51,214.16,300.97,45.84
3,0,40.45,58.71,215.82,300.36,45.82
4,0,41.23,54.05,214.69,300.44,45.82
...,...,...,...,...,...,...
995,9,66.71,123.06,225.67,300.61,46.57
996,9,64.48,123.49,224.76,300.70,46.52
997,9,60.42,128.28,224.04,300.42,46.50
998,9,62.07,131.78,228.53,299.75,46.53
999,9,61.90,132.97,229.03,300.90,46.53

In [120]:
tes['predictions']=rf_model.predict(tes.iloc[:,:])
tes

C:\Users\varun\AppData\Local\Temp\ipykernel_19844\1167313161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tes['predictions']=rf_model.predict(tes.iloc[:,:])

,Vibrations per Minute,noise_db,water_outlet_temp,wpump_power,oilpump_power,oil_tank_temp,predictions
0,0,42,32.95972,323,254,38.95972,0
1,0,42,32.99194,291,222,38.99194,0
2,4,40,32.99194,259,190,38.99194,0
3,0,42,32.99194,304,235,38.99194,0
4,0,42,32.99194,293,224,38.99194,0
...,...,...,...,...,...,...,...
540,0,42,32.99194,321,252,38.99194,0
541,0,42,32.99194,266,197,38.99194,0
542,0,42,32.91138,276,207,38.91138,0
543,0,41,32.99194,327,258,38.99194,0
544,0,42,32.87109,226,157,38.87109,0

In [121]:
tes['predictions'].value_counts()

predictions
0    544
1      1
Name: count, dtype: int64

#### **Final Data Augmentation**

In [122]:
df = df.drop(['bearings', 'wpump', 'radiator', 'maintenance_score'], axis=1)
combined_df = pd.concat([df, tes], ignore_index=True)

In [123]:
import mysql.connector
from sqlalchemy import create_engine
coxn = mysql.connector.connect(user='root', password='avin_123', host='127.0.0.1', database='compressor')
# Create a SQLAlchemy engine from the MySQL connection
pas = 'avin_123'
engine = create_engine(f"mysql+mysqlconnector://root:{pas}@127.0.0.1:3306/reviews", connect_args={'auth_plugin': 'mysql_native_password'})

In [124]:
combined_df.to_csv("C:\\Users\\varun\\Downloads\\final_data_preds.csv")

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\varun\\Downloads\\final_data_preds.csv'